# Backend API URL, Leave as localhost except for deployment
NEXT_PUBLIC_API_URL=http://localhost:8080

# NextAuth Configuration
AUTH_SECRET=your-auth-secret-key-here

# Optional: Google OAuth
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret

# Optional: GitHub OAuth
AUTH_GITHUB_ID=your-github-client-id
AUTH_GITHUB_SECRET=your-github-client-secret
